body {
    background-image: url('https://media-api.xogrp.com/images/86a5cdee-07e2-4cc6-95d3-ef4b468c3a67');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }

nav {
   text-align: center;

}

h1 {
  background-color: opacity transparent;
  color:darkorange;
  text-align: center;
  
}

#guestDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.guest-card {
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  border: 15px solid darkorange;
  padding: 30px;
  margin: 10px;

}

#addToGuestCard {
  background-color: antiquewhite;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  border: 15px solid darkorange;
  padding: 30px;
  margin: 10px;
}



section:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);


}
  /* Bordered form */
form {
  background-color: antiquewhite;
 
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  border: 15px solid darkorange;
  padding: 30px;
  margin: 10px;

  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  /* button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  } */
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  