body {
    background-image: url('https://media-api.xogrp.com/images/86a5cdee-07e2-4cc6-95d3-ef4b468c3a67');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }

header {
  text-align: center;
   background-color: wheat;
   color:darkorange;
   font-family: 'Lucida Sans';
}  

nav {
   text-align: center;
   background-color: wheat;
   color:darkorange;
   font-family: 'Lucida Sans';
}

a {
  margin: 20px;
  color: black;
  text-decoration: none;
  font-family: 'Lucida Sans';
}

h1 {
  background-color: opacity transparent;
  color:rgba(255, 140, 0, 0.841);
  text-align: center;
  font-family: 'Lucida Sans';
}

#guestDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans';
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#map {
  height: 400px;
  width: 600px;
  display: flex;
  flex-wrap: center;
  justify-content: center;
  align-items: center;
  position: fixed;
}

a:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);


}

h4 {
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 500px;
  border: 15px solid darkorange;
  padding: 30px;
  margin: 10px;
  font-family: 'Lucida Sans';
}

.guest-card {
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  border: 15px solid darkorange;
  padding: 30px;
  margin: 10px;
  font-family: 'Lucida Sans';
}

.player-card {
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100px;
  border: 15px solid darkorange;
  padding: 30px;
  margin: 10px;
  font-family: 'Lucida Sans';
}


#addToGuestCard {
  background-color: antiquewhite;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  border: 15px solid darkorange;
  padding: 30px;
  margin: 10px;
  font-family: 'Lucida Sans';
}

#addToPlayerCard {
  background-color: antiquewhite;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  border: 15px solid darkorange;
  padding: 30px;
  margin: 10px;
  font-family: 'Lucida Sans';
}

section:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);


}
 
form {
  background-color: antiquewhite;
 
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  border: 15px solid darkorange;
  padding: 30px;
  margin: 10px;
  font-family: 'Lucida Sans';

  }
  
  button:hover {
    opacity: 0.8;
  }
  
  